  <div class="col-sm-12">
    <h3 class="text-center mb-3">OUR CLIENTS</h3>
  </div>
  <div class="col-sm-12">
    <h4 class="text-center mb-3">MORE THAN 100+ CLIENTS</h4>
  </div>
<div class="jumbotron mb-0">

  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-2">
      <div class="card">
        <img src="assets/10.jpg" alt="">


      </div>
    </div>

    <div class="col-sm-2">

      <div class="card">
        <img src="assets/2.jpg" alt="">
      </div>

    </div>


    <div class="col-sm-2">

      <div class="card">
        <img src="assets/3.jpg" alt="">
      </div>

    </div>
    <div class="col-sm-2">

      <div class="card">
        <img src="assets/4.jpg" alt="">
      </div>

    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-2">

      <div class="card">
        <img src="assets/5.jpg" alt="">
      </div>

    </div>

    <div class="col-sm-2">

      <div class="card">
        <img src="assets/15.jpg" alt="">
      </div>

    </div>
    <div class="col-sm-2">

      <div class="card">
        <img src="assets/8.jpg" alt="">
      </div>

    </div>
    <div class="col-sm-2">

      <div class="card">
        <img src="assets/15.jpg" alt="">
      </div>

    </div>
  </div>
</div>

<div class="scrolling-wrapper">



  <img src="assets/10.jpg" alt="">
  <img src="assets/2.jpg" alt="">
  <img src="assets/3.jpg" alt="">
  <img src="assets/4.jpg" alt="">
  <img src="assets/5.jpg" alt="">
  <img src="assets/15.jpg" alt="">
  <img src="assets/8.jpg" alt="">
</div>
