<div class="jumbotron">
  <div class="row bg-inverse">
    <div class="col align-text">
      <h3 class="text-center">ABOUT US</h3>
      <p text-sm-left class="alligntxt">
        Unleash the creativity of your office decors by collaborating with a global workspace partner! We make it easy
        for you with your rebound to be successful industry players in the upcoming competitive markets.<br><br>
        Office All Time facilitates its potential customers with flexible & budget-friendly workstations that suit with
        their brand preference. <br><br>
        Our presence across all over the world is more than 28+ years of business workspace industry, where we
        undividedly furnish various types of business co-working models in this highly fragmented market. <br><br>
        When we consider the flexible workspace market, it is estimated with a substantial growth rate in the year 2020
        to 2027. <br><br>
        The concept of flexible co-working space is adopted by many enterprises that offer comprehensive key segments
        like office space trends, business spot landscapes, special amenities, etc. <br><br>
        Want your office to be located in the heart of the city or somewhere with a less crowded locality? You will be
        at the epicenter of everything if you choose to have your business structures in the central business district,
        in Chennai. <br><br>
        Get assured with the series of network transport to ensure the comfortability of customers, suppliers & others
        who wants to reach you conveniently! Especially, find a favorable impression of serving your collaborative deals
        in the important part of your central city! <br><br>
        Moreover, the central hub can provide a wide array of infrastructure that can offer you with finest amenities at
        premium office spaces, best suited for your business world! <br><br>
        We at Office All Time are committed to providing business office suites as per customer’s personalized needs. We
        make sure to suffice any business need for an irreplaceable value of well-structured functional office spaces
        for your collaborative ventures. This is assured to our prospects with cost-saving factors and other added
        benefactors that aim to have fun, innovative & dynamic co-working or individual workspaces. </p>
    </div>
    <div class="col">
      <img src="assets/about-1.JPG" class="responsiveImg" alt="">
    </div>
  </div>
</div>
