<div class="jumbotron bgclr text-light mb-0 ">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <h3 class="title text-center"> Visit Our Office</h3>
        <h4 class="aligntxt text-center"> 624, Khivraj Building, 4th Floor, Annasalai, Chennai - 600006</h4>
        <div class="col-sm-4">
          <img src="assets/owner1.svg" alt="" width="300">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <form class="form-signin container">
        <div class="text-center mb-4">

          <h3 class="title mb-3">We'll help you find the perfect space</h3>
        </div>

        <div class="form-label-group">
          <input type="name" id="inputName" class="form-control mb-4" placeholder="Name" required="">
          <!-- <label for="inputName">Name</label> -->
        </div>
        <div class="form-label-group">
          <input type="email" id="inputEmail" class="form-control mb-4" placeholder="Email address" required="">
          <!-- <label for="inputEmail">Email address</label> -->
        </div>

        <div class="form-label-group">
          <input type="number" id="inputNumber" class="form-control mb-4" placeholder="Mobile Number" required="">
          <!-- <label for="inputNumber">Mobile Number</label> -->
        </div>
        <div class="form-label-group">
          <input type="text" id="inputMessage" class="form-control mb-4" placeholder="Message" required="">
          <!-- <label for="inputMessage">Message</label> -->
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send Request</button>
      </form>
    </div>
  </div>


</div>

<div class="col-sm-12">
  <iframe class="gframe"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
    frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<footer id="footer">

  <div class="row">

    <div class="col-xs-12">

    </div>
  </div>
</footer>
