<div class="jumbotron bgclr text-light mb-0 ">
    <div class="col-sm-12">
        <h3 class="text-center mb-3">BUSINESS WITH US</h3>
        <p class="headclr text-center mb-3">Go for your customized workspace corner solutions! </p>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-home"></i>
                </div>
                <h3 class="title">Property Owners </h3>
                <p class="description">
                    Are you wondering how to monetize your large amount of physical space?
                    <br>
                    <br>
                    <br>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-clr" data-toggle="modal" data-target="#exampleModalLong1">
                        More Details
                    </button>
                    <br>

                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-globe"></i>
                </div>
                <h3 class="title">Co-working Space Providers </h3>
                <p class="description">
                    Want to ensure with a social built-in community? A good co-working environment gives you the option
                    of socializing in affordable cost factors.
                    <br>

                    <br>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-clr" data-toggle="modal" data-target="#exampleModalLong2">
                        More Details
                    </button>
                    <br>

                </p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-rocket"></i>
                </div>
                <h3 class="title">Channel Partners</h3>
                <p class="description">
                    Make the best use with the business workspace center industry to earn a great amount of profit-share
                    as streamline partners such as Dealers/ Brokers /Agents.

                    <br>
                    <button type="button" class="btn btn-clr" data-toggle="modal" data-target="#exampleModalLong3">
                        More Details
                    </button>
                    <br>
                    <!-- Button trigger modal -->

                </p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Property Owners </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                In Office All Time we provide you with ample opportunities for you to leverage with ready-to-occupy work spaces and explore other leasing opportunities. Get a chance to collaborate with us to increase your income level with dynamic, attractive & interesting workspaces. <br> <br>
                Looking for tenants to rent-out your empty spaces? Not to worry! Office All Time space providers facilitate you with comprehensive & economically affordable solutions. Moreover, as landlords you can chalk out your empty spaces for business building requirements & increase your revenue generation with a business friendly lease-out packages.<br> <br> 
                This profit sharing model solution is bifurcated into 3 parts. They are Ideal Working Corners, Furnished Move-In corners, and Work Base in Fixed Rent
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
            </div>
        </div>
    </div>
</div>