<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/slider-3.jpg" alt="Los Angeles" class="img-size">
    </div>
    <div class="carousel-item">
      <img src="assets/slider-2.jpg" alt="Chicago" class="img-size">
    </div>
    <div class="carousel-item">
      <img src="assets/slider-5.jpg" alt="New York" class="img-size">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="container-fluid home-input">
  <div class="row flexreverse">
    <div class="col">
      <select class="form-control select2">
        <option>Select City</option>
        <option>Chennai</option>
        <option>Hyderabad</option>
        <option>Bangalore</option>
        <option>Mumbai</option>
      </select>
    </div>
    <div class="col">
      <select class="form-control select2">
        <option>Select Area</option>
        <option>Velachery</option>
        <option>Guindy</option>
        <option>Vada Palani</option>
        <option>Central</option>
      </select>
    </div>
    <div class="col">
      <select class="form-control select2">
        <option>Select Property Type</option>
        <option>Velachery</option>
        <option>Guindy</option>
        <option>Vada Palani</option>
        <option>Central</option>
      </select>
    </div>
    <div class="col"> <input type="text" class="form-control" placeholder="Full Name" id="cpTitle" />
    </div>
    <div class="col"> <input type="text" class="form-control" placeholder="Email" id="cpTitle" />
    </div>
    <div class="col"> <input type="text" class="form-control" placeholder="Mobile" id="cpTitle" />
    </div>
    <div class="col text-center"><button type="button" class="btn btn-warning">Enquire Now</button>
    </div>
  </div>
</div>

<div class="sticky-container">
  <ul class="sticky">
    <li>
      <img src="assets/facebook.svg" width="32" height="32">
      <p><a href="https://www.facebook.com/codexworld" target="_blank">Like Us on<br>Facebook</a></p>
    </li>
    <li>
      <img src="assets/twitter.svg" width="32" height="32">
      <p><a href="https://twitter.com/codexworldblog" target="_blank">Follow Us on<br>Twitter</a></p>
    </li>
    <li>
      <img src="assets/google-plus.svg" width="32" height="32">
      <p><a href="https://plus.google.com/codexworld" target="_blank">Follow Us on<br>Google+</a></p>
    </li>
    <li>
      <img src="assets/linkedin.svg" width="32" height="32">
      <p><a href="https://www.linkedin.com/company/codexworld" target="_blank">Follow Us on<br>LinkedIn</a></p>
    </li>
    <li>
      <img src="assets/youtube.svg" width="32" height="32">
      <p><a href="http://www.youtube.com/codexworld" target="_blank">Subscribe on<br>YouYube</a></p>
    </li>
    <li>
      <img src="assets/whatsapp.svg" width="32" height="32">
      <p><a href="https://api.whatsapp.com/send?phone=15551234567">Whatsup Now..</a></p>
    </li>
  </ul>
</div>
